<html>
    <head>
        <title>About page</title>

    </head>
    <h1>creating{{pageTitle}}</h1>
    <p>BCA</p>
    <footer>
        <p>
            Copyright -{{Yr}}
        </p>
    </footer>
    <table>
        <img src="https://images.app.goo.gl/ocXnNZwHeZeainP77" alt="inserting Picture" height="500px" weight="500px">
    </table>
</html>