<html>
    <head>
        <title>
            BCA
        </title>
    </head>
    <body>
        <div class="container">
  <div class="row">
    <div class="col-6">
        <div class="jumbotron text-center" style="margin-bottom:0">
  <h1>INDRODUCTION</h1>
 
    </div>  

	 <br><br>
   
<div class="container">
    <table class="table">
 <tr>
 <td ><h1>{{name}}</h1>
 <h2>{{surename}}</h2>
  <h3>{{phone_number}}</h3>
  <h4>{{email_id}}</h4>
  </td>
 <td align="right">  <img src='https://image.shutterstock.com/image-vector/na-n-watercolor-letter-logo-260nw-633851720.jpg' height="100" width="200"></td>
 
   </tr>
   </table>
      
    </div>

    
  </div>
</div>

    </body>
</html>