<h<html>
    <head>
        <title>
        
        </title>
         <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        {{>header1}}
      


        <div class="container">
  <div class="row">
      <div class="col-1"></div>
    <div class="col-10">
        <div class="jumbotron text-center" style="margin-bottom:0">
  <h1>REACH PAGE</h1>
  <div class="container">
    <table class="table">
 <tr>
 
 <h4>ADDRESS:{{address}}</h4>
  <h4>PINCODE:{{pin}}</h4>
  
  </td>
 <td align="right">  <img src='https://boostlikes-bc85.kxcdn.com/blog/wp-content/uploads/2018/05/Facebook-Page-Reach.jpg' height="100" width="200"></td>
 
   </tr>
   </table>
      
    </div>

 
    </div>  


   



    
  </div>
  <div class="col-1"></div>
</div>
{{>footer}}
    </body>
</html>
